node_modules/
client/node_modules/
client/.env
server/node_modules/
server/.env
*.db3
uploads/
.cursorrules
# Ignore uploaded files
server/uploads/
# Environment variables
.env

# Database
*.sqlite
*.sqlite3

# Other entries...
