.trending-hashtags {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trending-hashtags h2 {
    margin-bottom: 1rem;
    color: var(--dark-red);
}

.trending-hashtags ul {
    list-style: none;
    padding: 0;
}

.trending-hashtags li {
    margin-bottom: 0.5rem;
    color: var(--dark-red);
}

body.dark .trending-hashtags {
    background-color: var(--medium-grey);
}

body.dark .trending-hashtags h2,
body.dark .trending-hashtags li {
    color: var(--soft-white);
}