.home {
    display: flex;
    padding-top: 60px; /* Adjust this value based on the height of your navigation bar */
}

body.dark .home {
    background-color: #333333; /* Dark grey background */
    color: #8B0000; /* Dark red text */
}

.home__content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px; /* Adjust this value based on your desired max width */
    margin-left: auto; /* Ensure content is not overlapped by the sidebar */
    padding: 20px; /* Add padding to ensure content is not touching the edges */
}

.newsfeed {
    flex: 2;
    margin-right: 20px;
}

.widgets {
    flex: 1;
}

.home__button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #8b0000; /* Dark red */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.home__button:hover {
    background-color: #a52a2a; /* Slightly lighter dark red */
}