.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px; /* Adjust this value to make the bar smaller or larger */
    background-color: var(--cream);
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    padding: 0 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
}

.sidebar:hover {
    height: 200px; /* Adjust this value to show more or less content when expanded */
}

body.dark .sidebar {
    background-color: var(--medium-grey);
    color: var(--soft-white);
}

.sidebar__content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar__option {
    padding: 10px;
    cursor: pointer;
}

.sidebar__option a {
    text-decoration: none;
    color: inherit;
}

.widgets {
    display: none;
}

.sidebar:hover .widgets {
    display: block;
    margin-top: 10px;
}