.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.sidebar {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 20px;
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    width: 250px;
    z-index: 1000;
    overflow-y: auto;
}

.sidebar__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar__nav li {
    margin-bottom: 15px;
}

.sidebar__nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar__nav a:hover {
    background-color: var(--secondary-color);
}