PORT=9000
JWT_SECRET=your_jwt_secret_here
CLIENT_URL=http://localhost:3000
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-password
EMAIL_FROM=noreply@yourdomain.com
DB_CLIENT=sqlite3
DB_FILENAME=./database.sqlite