.profile {
    background-color: var(--white);
    margin-top: 60px;
}

body.dark .profile {
    background-color: var(--dark-grey);
}

.profile__header {
    position: relative;
}

.profile__cover img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.profile__info {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background-color: var(--white);
    margin-top: -100px;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}

body.dark .profile__info {
    background-color: var(--dark-grey);
}

.profile__info-nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile__info-nav-links a {
    text-decoration: none;
    background-color: var(--dark-red);
    color: var(--white);
    font-size: 14px;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 6px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.profile__info-nav-links a:hover {
    background-color: #a52a2a;
}

body.dark .profile__info-nav-links a {
    background-color: var(--cream);
    color: var(--dark-red);
}

body.dark .profile__info-nav-links a:hover {
    background-color: var(--white);
}

.profile__info-nav-links a.active {
    background-color: #a52a2a;
}

body.dark .profile__info-nav-links a.active {
    background-color: var(--white);
}

.profile__photo {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    border: 4px solid var(--white);
    margin-right: 20px;
}

body.dark .profile__photo {
    border-color: var(--dark-grey);
}

.profile__details {
    flex-grow: 1;
}

.profile__name {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    color: var(--dark-red);
}

body.dark .profile__name {
    color: var(--cream);
}

.profile__bio {
    font-size: 15px;
    color: var(--dark-grey);
    margin-top: 5px;
}

body.dark .profile__bio {
    color: var(--light-grey);
}

.profile__edit-button,
.profile__save-button {
    background-color: var(--dark-red);
    color: var(--white);
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.profile__edit-button:hover,
.profile__save-button:hover {
    background-color: #a52a2a;
}

body.dark .profile__edit-button,
body.dark .profile__save-button {
    background-color: var(--cream);
    color: var(--dark-red);
}

body.dark .profile__edit-button:hover,
body.dark .profile__save-button:hover {
    background-color: var(--white);
}

.profile__body {
    display: flex;
    margin-top: 20px;
}

.profile__content {
    flex: 0.75;
    padding: 20px;
}

.profile__edit-form {
    background-color: var(--white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

body.dark .profile__edit-form {
    background-color: var(--dark-grey);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.profile__edit-input,
.profile__edit-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
}

body.dark .profile__edit-input,
body.dark .profile__edit-textarea {
    background-color: var(--medium-grey);
    color: var(--white);
    border-color: var(--light-grey);
}

.profile__edit-file-input {
    margin-bottom: 10px;
}

.profile__edit-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}