.profile {
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
}

body.dark .profile {
    background-color: var(--dark-grey);
}

.profile__header {
    position: relative;
    margin-bottom: 2rem;
}

.profile__cover img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.profile__info {
    display: flex;
    align-items: flex-end;
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: -75px;
    position: relative;
}

body.dark .profile__info {
    background-color: var(--dark-grey);
}

.profile__photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--white);
    position: absolute;
    top: -75px;
    left: 1.5rem;
}

body.dark .profile__photo {
    border: 5px solid #444444; /* Dark grey border */
}

.profile__details {
    margin-left: 180px;
}

.profile__name {
    font-size: 2rem;
    margin: 0;
    color: var(--dark-red);
}

body.dark .profile__name {
    color: var(--cream);
}

.profile__bio {
    font-size: 1rem;
    color: var(--dark-grey);
    margin-top: 0.5rem;
}

body.dark .profile__bio {
    color: var(--light-grey);
}

.profile__edit-button,
.profile__save-button {
    background-color: var(--dark-red);
    color: var(--white);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin-top: 1rem;
}

.profile__edit-button:hover,
.profile__save-button:hover {
    background-color: #a52a2a;
}

body.dark .profile__edit-button,
body.dark .profile__save-button {
    background-color: var(--cream);
    color: var(--dark-red);
}

body.dark .profile__edit-button:hover,
body.dark .profile__save-button:hover {
    background-color: var(--white);
}

.profile__edit-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

body.dark .profile__edit-form {
    background-color: #555555; /* Darker grey background */
}

.profile__edit-input,
.profile__edit-textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body.dark .profile__edit-input,
body.dark .profile__edit-textarea {
    background-color: #555555; /* Darker grey background */
    color: #ffffff; /* White text */
    border: 1px solid #777777; /* Lighter grey border */
}

.profile__edit-file-input {
    margin-bottom: 1rem;
}

.profile__edit-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.profile__body {
    display: flex;
    margin-top: 20px;
}

.profile__nav {
    flex: 0.2;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 125px); /* Adjust based on your header height */
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 125px; /* Adjust based on your header height */
    left: 0;
}

body.dark .profile__nav {
    background-color: var(--medium-grey);
    color: var(--soft-white);
}

body.light .profile__nav {
    background-color: #F5F5DC; /* Cream background */
    color: #8B0000; /* Dark red text */
}

.profile__nav a {
    text-decoration: none;
    color: #8b0000; /* Dark red */
    font-size: 16px;
    margin-bottom: 10px;
}

body.dark .profile__nav a {
    color: var(--soft-white);
}

.profile__nav a:hover {
    color: var(--cream);
}

body.dark .profile__nav a:hover {
    color: var(--cream);
}

.profile__content {
    flex: 0.8;
    padding: 20px;
    margin-left: 220px; /* Adjust based on the width of the profile__nav */
}