:root {
  --dark-red: #8B0000;
  --cream: #F5F5DC;
  --white: #FFFFFF;
  --light-grey: #F0F0F0;
  --dark-grey: #1E1E1E;
  --medium-grey: #2C2C2C;
  --soft-white: #E0E0E0;
}

body {
  background-color: var(--cream);
  color: var(--dark-red);
  font-family: 'Roboto', sans-serif;
}

body.dark {
  background-color: var(--dark-grey);
  color: var(--soft-white);
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #8b0000; /* Dark red */
    color: #fff;
}

/* Add any additional global styles here */

.App {
  text-align: center;
}

body.dark .App {
  background-color: #333333; /* Dark grey background */
  color: #8B0000; /* Dark red text */
}

body.light .App {
  background-color: #CEC363; /* Slightly darker cream */
  color: #000000; /* Black text */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body.dark .App-header {
  background-color: #333333; /* Dark grey background */
  color: #8B0000; /* Dark red text */
}

body.light .App-header {
  background-color: #CEC363; /* Slightly darker cream */
  color: #000000; /* Black text */
}

.App-link {
  color: #61dafb;
}

body.dark .App-link {
  color: #8B0000; /* Dark red text */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar-trigger {
    position: fixed;
    right: 0;
    top: 110px; /* Adjusted to account for navbar and widget bar */
    width: 20px;
    height: calc(100vh - 110px);
    z-index: 999;
}