.newsfeed {
    padding: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.post {
    margin-bottom: 2rem;
    background-color: var(--form-background-color);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.post:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.post h2 {
    margin: 0 0 10px;
}

.post p {
    margin: 0;
}