.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4267B2;
    color: white;
}

.header__middle input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.header__right {
    display: flex;
    gap: 20px;
}

.header__option {
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
}