.watch {
    height: 100vh;
    padding-top: 60px; /* Account for the navbar height */
    overflow-y: scroll;
}

body.dark .watch {
    background-color: #333333; /* Dark grey background */
    color: #F5F5DC; /* Cream text */
}

body.light .watch {
    background-color: #F5F5DC; /* Cream background */
    color: #8B0000; /* Dark red text */
}

.watch__videos {
    height: calc(100vh - 60px); /* Adjust based on your Navbar height */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}

.watch__videos::-webkit-scrollbar {
    display: none;
}

.watch__videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll-to-top {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}

.scroll-to-top:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.show-scroll-to-top {
    display: block;
}