.watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.watch > * {
    scroll-snap-align: start;
}